@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

body {

  font-family: 'Montserrat', sans-serif;
}

/*-------------------------------------- Header and Navigation */

header {

  position: relative;
  z-index: 2;
}

.logo {

  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
}

.round-logo {

  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.nav {

  position: absolute;
  top: 25px;
  left: 85px;
  display: flex;
  align-items: center;
  color: #A2A97F;
}

.nav ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav ul li {

  margin-right: 10px;
}

.nav ul li a {

  text-decoration: none;
  color: #D1D3C6;
  padding: 5px;
  border: 2px solid #D1D3C6;
  background-color: #A2A97F;
}

.nav ul li a:hover {

  background-color: #F8694A;
  color: #E5E40D;
}

/*-------------------------------------- Hero Background Image */

.timisoara-center-container {
  background:url('../images/timisoara-center.jpg');
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
    animation-name: center-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;

}

@keyframes center-zoom {

  from {

    transform: scale(1);
  } 

  to {

    transform: scale(1.1);
  }
}

/*-------------------------------------- Callout Message */
.timisoara-center-callout {

  color: #D1D3C6;
  position: absolute;
  width: 50%;
  top: 10%;
  left: 25%;
  text-align: center;
  display: inline-block;
  text-decoration: solid;
  padding: 10px 20px;
  font-size: 10px;
  opacity: 0.8;
}

.timisoara-center-container h2 {

  margin: 0;
}

/*-------------------------------------- Video Container */

.video-container {

  width: 80%;
  height: 0;
  padding-bottom: 35%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#timisoara-video {

  width: 100%;
  height: 100%;
  top: 18rem;
  left: 0;
  position: absolute;
  border: 2px solid #D1D3C6;
}

